<div class="container">
  <div class="row">
    <div class="col-xs-7 nav-menus">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                 data-target="#bs-example-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/content/pages/01_intro.md/">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Syllabus</a>
          </li>
          <li>
            <a href="/content/pages/04_campus_rover.md/">Campus Rover</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-2 navbar-control">
      <div class="btn-group btn-group-xs">
        <%if citem.section != "root" %>
          <%= link_to_prev toc, item %> <%= link_to_next toc, item %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-3 navbar-control">
      <form role="form" class="form-inline" action="/content/tipuesearch/search.md/index.html">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="search..." name="q" id="tipue_search_input" autocomplete="off" required>
        </div>
      </form>
    </div>
  </div>
</div>
